<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - The Unix Shell</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td></td> <td><a href="{{site.swc_pages}}/shell-novice/setup.html">The Unix Shell: Setup</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Welcome (10 minutes)</td> </tr>
      <tr> <td>09:10</td>  <td>Sorting out software requirements (15 minutes)</td> </tr>
      <tr> <td>09:25</td>  <td><a href="{{site.swc_pages}}/shell-novice/01-intro/index.html">Introducing the Shell (5 minutes)</a></td> </tr>
      <tr> <td>09:30</td>  <td><a href="{{site.swc_pages}}/shell-novice/02-filedir/index.html">Navigating Files and Directories (40 minutes)</a></td> </tr>
      <tr> <td>10:10</td>  <td>Break (20 minutes)</td> </tr>
      <tr> <td>10:30</td>  <td><a href="{{site.swc_pages}}/shell-novice/03-create/index.html">Working With Files and Directories (50 minutes)</a></td> </tr>
      <tr> <td>11:20</td>  <td><a href="{{site.swc_pages}}/shell-novice/04-pipefilter/index.html">Pipes and Filters (35 minutes)</a></td> </tr>
      <tr> <td>11:55</td>  <td>Break (20 minutes)</td> </tr>
      <tr> <td>12:15</td>  <td>Exercises and Q&A (45 minutes)</td> </tr>
      <tr> <td>13:00</td>  <td>Finish</td> </tr>
    </table>  
  </div>
  <div class="col-md-6">
    <h3>Day 2 The Unix Shell</h3>
    <table class="table table-striped">
      <tr> <td></td>  <td><a href="{{site.swc_pages}}/git-novice/setup.html">Setup</a></td> </tr>
      <tr> <td>09:00</td>  <td>Recap (15 minutes)</td> </tr>
      <tr> <td>09:15</td>  <td><a href="{{site.swc_pages}}/shell-novice/05-loop/index.html">Loops (50 minutes)</a></td> </tr>
      <tr> <td>10:05</td>  <td>Break (20 minutes)</td> </tr>
      <tr> <td>10:25</td>  <td><a href="{{site.swc_pages}}/shell-novice/06-script/index.html">Shell Scripts (45 minutes)</a></td> </tr>
      <tr> <td>11:10</td>  <td><a href="{{site.swc_pages}}/shell-novice/07-find/index.html">Finding Things (45 minutes)</a></td> </tr>
      <tr> <td>11:55</td>  <td>Break (20 minutes)</td> </tr>
      <tr> <td>12:15</td>  <td>Exercises and Q&A (45 minutes)</td> </tr>
      <tr> <td>13:00</td>  <td>Finish</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3 -  Version Control with Git</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introduction (15 minutes)</td> </tr>
      <tr> <td>09:15</td>  <td><a href="{{site.swc_pages}}/git-novice/01-basics/index.html">Automated Version Control (5 minutes)</a></td> </tr>
      <tr> <td>09:20</td>  <td><a href="{{site.swc_pages}}/git-novice/02-setup/index.html">Setting up Git (5 minutes)</a></td> </tr>
      <tr> <td>09:25</td>  <td><a href="{{site.swc_pages}}/git-novice/03-create/index.html">Creating a Repository (10 minutes)</a></td> </tr>
      <tr> <td>09:35</td>  <td><a href="{{site.swc_pages}}/git-novice/04-changes/index.html">Tracking Changes (20 minutes)</a></td> </tr>
      <tr> <td>09:55</td>  <td>Break (20 minutes)</td> </tr>
      <tr> <td>10:15</td>  <td><a href="{{site.swc_pages}}/git-novice/05-history/index.html">Exploring History (25 minutes)</a></td> </tr>
      <tr> <td>10:40</td>  <td><a href="{{site.swc_pages}}/git-novice/06-ignore/index.html">Ignoring Things (5 minutes)</a></td> </tr>
      <tr> <td>10:45</td>  <td><a href="{{site.swc_pages}}/git-novice/07-github/index.html">Remotes in GitHub (30 minutes)</a></td> </tr>
      <tr> <td>11:05</td>  <td>Break (20 minutes)</td> </tr>
      <tr> <td>11:25</td>  <td><a href="{{site.swc_pages}}/git-novice/08-collab/index.html">Collaborating (25 minutes)</a></td> </tr>
      <tr> <td>11:50</td>  <td><a href="{{site.swc_pages}}/git-novice/09-conflict/index.html">Conflicts (15 minutes)</a></td> </tr>
      <tr> <td>12:10</td>  <td><a href="{{site.swc_pages}}/git-novice/10-open/index.html">Open Science (10 minutes)</a></td> </tr>
      <tr> <td>12:20</td>  <td><a href="{{site.swc_pages}}/git-novice/11-licensing/index.html">Licensing (5 minutes)</a></td> </tr>
      <tr> <td>12:25</td>  <td><a href="{{site.swc_pages}}/git-novice/12-citation/index.html">Citation (5 minutes)</a></td> </tr>
      <tr> <td>12:30</td>  <td><a href="{{site.swc_pages}}/git-novice/13-hosting/index.html">Hosting (10 minutes)</a></td> </tr>
      <tr> <td>12:15</td>  <td>Exercises and Q&A (10 minutes)</td> </tr>
      <tr> <td>13:00</td>  <td>Finish</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4 - Programming with Python Part 1</h3>
    <table class="table table-striped">
      <tr> <td></td>  <td><a href="{{site.swc_pages}}/python-novice-inflammation/setup/">Setup</a></td> </tr>
      <tr> <td>09:00</td>  <td>Introduction (15 minutes)</td> </tr>
      <tr> <td>09:15</td>  <td><a href="{{site.swc_pages}}/python-novice-inflammation/01-intro/index.html">Python Fundamentals (30 minutes)</a></td> </tr>
      <tr> <td>09:45</td>  <td><a href="{{site.swc_pages}}/python-novice-inflammation/02-numpy/index.html">Analyzing Patient Data (30 minutes)</a></td> </tr>
      <tr> <td>10:15</td>  <td>Break (15 minutes)</td> </tr>
      <tr> <td>10:30</td>  <td><a href="{{site.swc_pages}}/python-novice-inflammation/02-numpy/index.html">Analyzing Patient Data (30 minutes)</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="{{site.swc_pages}}/python-novice-inflammation/03-matplotlib/index.html">Visualizing Tabular Data (25 minutes)</a></td> </tr>
      <tr> <td>11:25</td>  <td>Break (15 minutes)</td> </tr>
      <tr> <td>11:40</td>  <td><a href="{{site.swc_pages}}/python-novice-inflammation/03-matplotlib/index.html">Visualizing Tabular Data (25 minutes)</a></td> </tr>
      <tr> <td>12:05</td>  <td><a href="{{site.swc_pages}}/python-novice-inflammation/04-loop/index.html">Repeating Actions with Loops (30 minutes)</a></td> </tr>
      <tr> <td>12:35</td>  <td>Exercises and Q&A (25 minutes)</td> </tr>
      <tr> <td>13:00</td>  <td>Finish</td> </tr>
    </table>
  </div>
</div> 
<div class="row">
  <div class="col-md-6">
    <h3>Day 5 - Programming with Python Part 2</h3>
    <table class="table table-striped">    
      <tr> <td>09:00</td>  <td><a href="{{site.swc_pages}}/python-novice-inflammation/05-lists/index.html">Storing Multiple Values in Lists (45 minutes)</a></td> </tr>
      <tr> <td>09:45</td>  <td><a href="{{site.swc_pages}}/python-novice-inflammation/06-files/index.html">Analyzing Data from Multiple Files (20 minutes)</a></td> </tr>
      <tr> <td>10:05</td>  <td>Break (15 minutes)</td> </tr>
      <tr> <td>10:20</td>  <td><a href="{{site.swc_pages}}/python-novice-inflammation/07-cond/index.html">Making Choices (30 minutes)</a></td> </tr>
      <tr> <td>10:50</td>  <td><a href="{{site.swc_pages}}/python-novice-inflammation/08-func/index.html">Creating Functions (30 minutes)</a></td> </tr>
      <tr> <td>11:20</td>  <td>Break (15 minutes)</td> </tr>
      <tr> <td>11:35</td>  <td><a href="{{site.swc_pages}}/python-novice-inflammation/09-errors/index.html">Errors and Exceptions (30 minutes)</a></td></tr>
      <tr> <td>12:05</td>  <td><a href="{{site.swc_pages}}/python-novice-inflammation/10-defensive/index.html">Defensive Programming (40 minutes)</a></td></tr>
      <tr> <td>12:45</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>13:00</td>  <td>Finish</td> </tr>
    </table>
  </div>
</div>
